/* Template Component CSS */
.TemplateDiv {
    width: 512px;
    height: 768px;

    position: relative; /* 추후 박스 하단에 추가 버튼을 위치시키기 위한 설정 */
    background: navy;
    border-radius: 16px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);

    margin: 0 auto; /* 페이지 중앙에 나타나도록 설정 */

    margin-top: 96px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

/* List Component CSS */
.ListDiv {
    flex: 1;
    padding: 20px 32px;
    padding-bottom: 48px;
    overflow-y: auto;
    background: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

/* Item Component CSS */
.ItemDiv {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.CheckCircle {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
}

.DoneCircle {
    border : 1px solid #38d9a9;
    color : #38d9a9;
}

.UnDoneCircle {
    border: 1px solid #ced4da;
}

.ItemDiv:hover RemoveIcon {
    display : initial;
}

.RemoveIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dee2e6;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.RemoveIcon:hover {
    color: #ff6b6b;
}

.TextDiv {
    flex: 1;
    font-size: 21px;
}

.DoneText {
    color : #ced4da;
}

.UndoneText {
    color: #495057;
}